<html>
<head>
    <meta charset="UTF-8">
    <title>Odyssey - Illegal URL</title>
</head>
<body>
    <p>Odyssey - Illegal URL</p>
    <hr>
    <p>You should not be here. <%= error %></p>
    <p>Logged in as: <%= email %></p>
    <ul>
        <li><a href='/dashboard'>Dashboard</a></li>
        <li><a href="javascript:history.back()">Go Back</a></li>
    </ul>
</body>
</html>