<html>
<head>
    <meta charset="UTF-8">
    <title>Odyssey-Main</title>
</head>
<body>
    <h1>Odyssey-Main</h1>
    <ul>
        <li><a href='/sign_up'>Sign Up</a></li>
        <li><a href='/login'>Login</a></li>
    </ul>
</body>
</html>